@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--mantine-color-white);
  --foreground: var(--mantine-color-black);
  --main: #ef233c;
  --transition: 300ms all ease-in-out;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dimmed {
  color: var(--mantine-color-dimmed);
}

.mantine-Input-input:read-only {
  background: var(--mantine-color-gray-light);
  transition: 300ms background ease-in-out;
}

a.link {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--mantine-color-dimmed);
  transition: var(--transition);
}

a.link:hover {
  border-bottom: 1px solid var(--main);
}
