@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--mantine-color-white);
  --foreground: var(--mantine-color-black);
  --main: #ef233c;
  --transition: 300ms all ease-in-out;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
}

.dimmed {
  color: var(--mantine-color-dimmed);
}

.mantine-Input-input:read-only {
  background: var(--mantine-color-gray-light);
  transition: 300ms background ease-in-out;
}

a.link {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--mantine-color-dimmed);
  transition: var(--transition);
}

a.link:hover {
  border-bottom: 1px solid var(--main);
}
