@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--mantine-color-white);
  --foreground: var(--mantine-color-black);
  --main: #ef233c;
  --transition: 300ms all ease-in-out;
  --defaultPadding: 12px;
}

body {
  color: var(--foreground);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -4%;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

a.link {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--mantine-color-dimmed);
  transition: var(--transition);
}

a.link:hover {
  border-bottom: 1px solid var(--main);
}

#sidebar {
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
}

.dimmed {
  color: var(--mantine-color-dimmed);
}

.mantine-Fieldset-root {
  display: flex;
  flex-direction: column;
  gap: var(--defaultPadding);
}

.mantine-Fieldset-root h2 {
  padding-left: calc(var(--defaultPadding) + 1px);
}

.mantine-InputWrapper-label {
  padding-left: calc(var(--defaultPadding) + 1px);
  font-size: var(--defaultPadding);
  color: var(--mantine-color-dimmed);
}

.mantine-Input-input:read-only:not(.mantine-PasswordInput-input) {
  background: var(--mantine-color-white);
  border: 1px solid transparent;
  transition: 300ms background ease-in-out;
}

.mantine-Checkbox-input:disabled {
  background: var(--mantine-color-gray-light);
  transition: var(--transition);
}

.mantine-Checkbox-input:disabled + .mantine-Checkbox-icon {
  color: var(--mantine-color-gray-7) !important;
}

.mantine-Checkbox-root {
  padding-left: var(--defaultPadding);
}

.mantine-Checkbox-root:has(input:checked:disabled) .mantine-Checkbox-label {
  color: var(--foreground) !important;
}

.mantine-Table-thead {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(24px);
}

.mantine-Spotlight-action[data-selected] {
  background: var(--mantine-color-gray-light);
  color: var(--foreground) !important;
}

.mantine-Spotlight-action[data-selected] .mantine-Spotlight-actionDescription {
  color: var(--foreground) !important;
}
