@import "tailwindcss";

:root {
  --background: var(--mantine-color-white);
  --foreground: var(--mantine-color-black);
  --background-subtle: var(--mantine-color-gray-1);
  --subtle: rgba(255, 255, 255, 0.1);
  --hover: rgba(255, 255, 255, 0.05);
  --main: #ef233c;
  --transition: 300ms all ease-in-out;
  --defaultPadding: 12px;
  --filter-inverted: invert(1) brightness(0.9) contrast(1.2);
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -4%;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

a.link {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--mantine-color-dimmed);
  transition: var(--transition);
}

a.link:hover {
  border-bottom: 1px solid var(--main);
}

.dimmed {
  color: var(--mantine-color-dimmed);
}

img.inverted {
  filter: var(--filter-inverted);
}

.gradient {
  background-image: linear-gradient(
    to top,
    var(--background) 0%,
    var(--background-subtle) 100%
  );
}

.mantine-Fieldset-root {
  display: flex;
  flex-direction: column;
  gap: var(--defaultPadding);
  background: var(--background-subtle);
  border: none !important;
}

.mantine-Fieldset-root h2 {
  padding-left: calc(var(--defaultPadding) + 1px);
  padding-top: var(--defaultPadding);
}

.mantine-InputWrapper-label {
  padding-left: calc(var(--defaultPadding) + 1px);
  font-size: var(--defaultPadding);
  color: var(--mantine-color-gray-7);
}

.mantine-Checkbox-input:disabled {
  background: var(--mantine-color-gray-light);
  transition: var(--transition);
}

.mantine-Checkbox-input:disabled + .mantine-Checkbox-icon {
  color: var(--mantine-color-gray-7) !important;
}

.mantine-Checkbox-root {
  padding-left: var(--defaultPadding);
}

.mantine-Checkbox-root:has(input:checked:disabled) .mantine-Checkbox-label {
  color: var(--foreground) !important;
}

.mantine-Table-thead {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(24px);
}

.mantine-Spotlight-content {
  background: var(--background) !important;
}

.mantine-Spotlight-action[data-selected] {
  background: var(--mantine-color-gray-light);
  color: var(--foreground) !important;
}

.mantine-Spotlight-action[data-selected] .mantine-Spotlight-actionDescription {
  color: var(--foreground) !important;
}

.mantine-Input-input:read-only {
  border: 1px solid transparent;
  transition: 300ms background ease-in-out;
}

.mantine-Input-input,
.mantine-PasswordInput-input,
.mantine-DatePickerInput-input:read-only,
.mantine-Checkbox-input,
.mantine-SegmentedControl-root,
.mantine-Pagination-control:not([data-active]),
.mantine-Paper-root,
.mantine-Select-input:read-only,
.mantine-Fieldset-root {
  background-color: var(--background-subtle);
  border-color: rgba(0, 0, 0, 0.2);
}

.mantine-Table-th {
  background-color: transparent;
  font-weight: bold;
  letter-spacing: -0.4px;
}

.mantine-Table-tr:hover:where([data-hover]) {
  background-color: var(--hover);
}
